chargeindicator {
  position: absolute;
  top: 50%;
  left: 50%;
  
  transform: translateX( -50% );
  
  height: 10px;
  width: 1px;
  
  margin-top: 250px;
  
  background-color: #ff0;
  box-shadow: 0px 0px 20px #f70a;
}